<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande à livrer</title>
</head>
<body>
    
        <p id="hidenid">1</p>
       
    
    <h1>Bienvenue , Antonio!</h1>
    
    <a href="/index" id="index" >Accueil</a>
    <a href="/cmd_livrer" id="cmd_livrer" >Commande livrer</a>

    
        <ul>
            <% commande.forEach(commande => { %>
                <li>
                    Order ID: <%= commande.order_id %><br>
                    User ID: <%= commande.user_id %><br>
                    Product ID: <%= commande.product_id %><br>
                    Quantity: <%= commande.quantity %><br>
                    Total Price: €<%= commande.total_price %><br>
                    Order Date: <%= new Date(commande.order_date).toLocaleString() %><br>
                    Expected Delivery Date: <%= commande.expected_delivery_date ? new Date(commande.expected_delivery_date).toLocaleString() : 'N/A' %><br>
                    Delivery Status: <%= commande.delivery_status %><br>
                </li>
                <hr>
            <% }); %>
        </ul>
   

    <script>
        document.addEventListener('DOMContentLoaded', () => {
      const hidenid = document.getElementById('hidenid').innerHTML;
      const userId = hidenid ;
      document.getElementById("hidenid").style.display = "none"
      const userLinkhistory = document.getElementById('index');
      userLinkhistory.href = `/index?userId=${encodeURIComponent(userId)}`;
      const userLinkproduis = document.getElementById('cmd_livrer');
      userLinkproduis.href = `/cmd_livrer?userId=${encodeURIComponent(userId)}`;
    });
        </script>
</body>
</html>